extends layout

include mixins

block content
  h2 #{title}
  p #{content.details}
  
  
  ul
    each item in list
      li item

  - for (var x = 0; x < 5; x++)
    i.fas.fa-star

  +link('http://127.0.0.1', 'localhost')
